@charset "UTF-8";

body{
    color: #3c3c3c;
    background-color: hsl(60, 25%, 98%);
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-family: 'Zen Maru Gothic',sans-serif;
    font-weight:400;
}
*{
    padding: 0;
    margin:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    color: #3c3c3c;
}
a:hover{
    color:#999999
}
::selection {
    color: #fff;
    background-color: #3c3c3c;
}


.logo{
    margin-top: 5vw;
    text-align: center;
}
.card{
    margin-left:18vw;
    background-color: #D6DDD0;
    margin-right:18vw;
    border-radius: 80px;
}
.card-header{
    padding-top: 20px;
    margin-bottom:40px;
    margin-left:20px;
    margin-left:12vw;
}
.card-body{
    font-size:0.9rem;
}
.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
input{
    width:250px;
    height:35px;
    font-size:15px;
    border-radius: 5px;
    font-family: 'Zen Maru Gothic',sans-serif;
    font-weight:400;
    outline: none;
    border:none;
}

.name-and-mail{
    margin-right:5vw;
}
.mail{
    margin-top:20px;
}
.conpass{
    margin-top:20px
}
.log-button{
    margin-top:70px;
    padding-bottom:40px;
    margin-left: 12vw;
}

/**
@extends('layouts.app')

@section('content')
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ __('Register') }}</div>

                <div class="card-body">
                    <form method="POST" action="{{ route('register') }}">
                        @csrf

                        <div class="row mb-3">
                            <label for="name" class="col-md-4 col-form-label text-md-end">{{ __('Name') }}</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control @error('name') is-invalid @enderror" name="name" value="{{ old('name') }}" required autocomplete="name" autofocus>

                                @error('name')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="email" class="col-md-4 col-form-label text-md-end">{{ __('Email Address') }}</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control @error('email') is-invalid @enderror" name="email" value="{{ old('email') }}" required autocomplete="email">

                                @error('email')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password" class="col-md-4 col-form-label text-md-end">{{ __('Password') }}</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control @error('password') is-invalid @enderror" name="password" required autocomplete="new-password">

                                @error('password')
                                    <span class="invalid-feedback" role="alert">
                                        <strong>{{ $message }}</strong>
                                    </span>
                                @enderror
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-end">{{ __('Confirm Password') }}</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                            </div>
                        </div>

                        <div class="row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    {{ __('Register') }}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@endsection
**/